.project
.settings
.cache
.buildpath
nbproject/*
.DS_Store
/cli/settings/*.xml
/includes/configuration.inc.php
/includes/QApplication.class.php
/includes/qcodo/_core/manifest/*.xml
/includes/data_classes
/includes/data_meta_controls
/www/drafts/dashboard/*Panel*
/www/drafts/*_*
.tmp_*
/includes/qcodo/cache/i18n/*
/tests/PHPUnit/*
/tests/phpunit.php