.project
.settings
.cache
.buildpath
.DS_Store
.tmp_*
nbproject
/cli/settings/*.xml
/includes/configuration.inc.php
/includes/QApplication.class.php
/includes/qcodo/_core/manifest/*.xml
/includes/data_classes
/includes/data_meta_controls
/includes/qcodo/cache/i18n/*
/www/drafts/dashboard/*Panel*
/www/drafts/*_*
